/*CLASES REUTILIZABLES*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.text-uppercase {
    text-transform: uppercase; /*trasnsformamos el tipo de texto a mayuscula*/
}

li {
    display: inline; /*Coloque cada lista en una sola linea*/
    list-style: none; /*Desaparece las viñetas de mi lista*/
}

li a {
    color: inherit; /*Hereda el color de su padre (body)*/
    text-decoration: none;
}
/**/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 90px;
    background-color: transparent;
}

.logo-nav {
    width: 90px;
}


/*STYLE FOR THE HEADER*/
#head-lyft {

}

#head-lyft img {
    width: 100%;
    position: relative;
}

.box-header {
    position: absolute;
    top: 115px;
    left: 927px;
    background-color: white;
    color: #352384;
    width: 657px;
    height: 420px;
}

.box-form {
    text-align: left;
    margin: 67px 52px 67px 67px;
    
}

.box-form h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

.box-form p {
    margin-top: 8px;
    letter-spacing: 1.5px; /*repet*/
    font-size: .875rem; /*repet*/
}

form {
    display: block;
    margin-top: 0em;
}

input {
    color: #bfc7d9;
    font-weight: 300;
    cursor: default;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    padding-left: 0px;   
    border-bottom: 1px solid black;  
    outline: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #ff00bf;
    text-decoration: none;
}

a .btn {
    color:white;
    text-decoration: none;
    background-color: #ff00bf; 
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: .08333rem solid transparent;
    padding: .75rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
}

