/*CLASES REUTILIZABLES*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.text-uppercase {
    text-transform: uppercase; /*trasnsformamos el tipo de texto a mayuscula*/
}

li {
    display: inline; /*Coloque cada lista en una sola linea*/
    list-style: none; /*Desaparece las viñetas de mi lista*/
}

li a {
    color: inherit; /*Hereda el color de su padre (body)*/
    text-decoration: none;
}
/**/

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 90px;
    background-color: transparent;
}

.logo-nav {
    width: 90px;
}